@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-pixelify: var(--font-pixelify);
  --font-roboto-mono: var(--font-roboto-mono);
  --font-roboto-condensed: var(--font-roboto-condensed);
   --font-doto: var(--font-doto); 
}