@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-pixelify: var(--font-pixelify);
  --font-roboto-mono: var(--font-roboto-mono);
  --font-roboto-condensed: var(--font-roboto-condensed);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
